---
const platform = "github";
const username = "alraro";
const repo = "js-backend-practice";
---

<footer>
    <p>
        View on
        <a href={`https://${platform}.com/${username}/${repo}`}>
            {platform}
        </a>
    </p>
</footer>