---
const { name, email } = Astro.props;
---

<div class="user-bubble">
    <p>{name} {email}</p>
</div>

<style>
    .user-bubble {
        background-color: #232328;
        border-radius: 8px;
        padding: 10px;
        margin: 5px 0;
        color: white;
        font-family: Arial, sans-serif;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>
