.employee-bubble {
    background-color: #232328;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#employee-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#employee-list ul {
    list-style: none;
    padding: 0;
}

#pagination-controls {
    text-align: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #0d0950;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-button:hover {
    background-color: #ff9776;
}