---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Admin Dashboard X";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome to the Admin Dashboard</h2>
    <p>This is the main page of the admin panel.</p>
    <p>Here you can manage the different sections of the platform.</p>
    <p>Use the navigation menu to access the various features.</p>
    <p>We hope you have a good experience using our admin panel.</p>
</BaseLayout>
