---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My awesome blog subtitle</h2>
    <p>Bienvenido a tu nueva aplicación Astro.</p>
</BaseLayout>
