---
import UserList from "../components/UserList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "User Management";
---

<html lang="en">
    <BaseLayout pageTitle={pageTitle}>
        <p>Here you can see all user parameters and filter them as needed.</p>
        <p>User list: </p>
        <UserList />

    </BaseLayout>
</html>
